*{
    margin: 0;
    padding: 0;   
}

header, footer{
    text-align: center;
    background-color: #37517e;
    height: 110px;
    padding-top: 60px;
}
main{
    background-color: #ffff;
    width: 1300px;
    margin: 0 auto;
    padding-top: 50px;
}
.padre{
    width: 1300px;
    height: 800px;
    background-color: #ffff;
    text-align: center;   
}
.contenedor{
    width: 1195px;
    height: 650px;
    background-color: #ffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
    justify-content: space-around;
    margin: 0 auto;
}   
span{
    font-size: 20px;
    font-family: 'Jost', sans-serif;
    color: rgb(148, 147, 147);
}
i{
    font-size: 50px;
    color: #33C1FF ;
}
h2, p{
    font-size: 20px;
    font-family: 'Jost', sans-serif;
    color: rgb(148, 147, 147);
    padding-top: 30px;
}
.avionazul{
    background-color: #ffff;
    height: 250px;
    width: 350px;
    text-align: center;
    border: 5px solid rgb(242, 242, 245);
    padding-top: 30px;
    box-shadow: 5px 5px 5px 5px rgb(234, 234, 238);
    
}
.avionrojo{
    background-color: #ffff;
    height: 250px;
    width: 350px;
    text-align: center;
    border: 5px solid rgb(242, 242, 245);
    padding-top: 30px;
    box-shadow: 5px 5px 5px 5px rgb(234, 234, 238);
}
.avionmarron{
    background-color: #ffff;
    height: 250px;
    width: 350px;
    text-align: center;
    border: 5px solid rgb(242, 242, 245);
    padding-top: 30px;
    box-shadow: 5px 5px 5px 5px rgb(234, 234, 238);
}
.avionverde{
    background-color: #ffff;
    height: 250px;
    width: 350px;
    text-align: center;
    border: 5px solid rgb(242, 242, 245);
    padding-top: 30px;
    box-shadow: 5px 5px 5px 5px rgb(234, 234, 238);
}
.avionamarillo{
    background-color: #ffff;
    height: 250px;
    width: 350px;
    text-align: center;
    border: 5px solid rgb(242, 242, 245);
    padding-top: 30px;
    box-shadow: 5px 5px 5px 5px rgb(234, 234, 238);
}
.avionmorado{
    background-color: #ffff;
    height: 250px;
    width: 350px;
    text-align: center;
    border: 5px solid rgb(242, 242, 245);
    padding-top: 30px;
    box-shadow: 5px 5px 5px 5px rgb(234, 234, 238);
}
.poder:hover{
    list-style: none;
    padding: 10px;
    border-top: 20px;
    min-width: 100px;
    box-shadow: 5px 5px 5px 5px rgb(218, 218, 221);
    border-radius: 50px;
    transition: all .15s;
}